# System Files
Thumbs.db
.DS_Store

# Temporary files
*.tmp
*.bak
*.swp

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Node
node_modules/
package-lock.json
